.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Fascinate Inline', cursive;
  }
  
  .label {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
  }
  
  .petOptions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 80px;
  }
  
  .petOption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input {
    border: none;
    border-bottom: 3px solid #32F9E0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #32F9E0;
  }
  
  .nextButton {
    width: 265px;
    height: 69px;
    border-radius: 14px;
    background-color: #32F9E0;
    color: black;
    border: none;
    padding: 10px 20px;
    font-family: 'Fascinate Inline', cursive;
    font-size: 25px;
    font-weight: 900;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    align-self: center;
  }
  
  .prevButton {
    font-size: 16px;
    font-weight: 900;
    color: #ddd;
    background-color: white;
    padding-top: 30px;
    font-family: 'Fascinate Inline', cursive;
    border: none;
    align-self: center;
  }
  
  .stepIndicator {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #666;
    font-family: 'Fascinate Inline', cursive;
    align-self: center;
  }